body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(145deg, #0a2342, #0f3b68, #0d1f33);
  height: 100vh;
  color: white;
  background-attachment: fixed;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;  
  background: rgba(10, 30, 60, 0.3);  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
  box-sizing: border-box;   
}
.nav-left {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ddd;
  font-size: 15px;
  transition: 0.2s;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: rgb(119, 119, 119);
}

.hero {
  margin-top: 140px;
  padding: 30px;
}

.hero h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Lucida Grande';
}

.hero h3 {
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0.8;
}

.hero p {
  opacity: 0.7;
  max-width: 500px;
  margin: auto;
}